*.avi
/output/
.ipynb_checkpoints/
__pycache__/
/paper/
/models/
/benchmark/MOT17/train/
/benchmark/MOT17/test/
/benchmark/MOT17/preprocessed/
/benchmark/MOT17/sequences/

/deep_tracker/models/*.pkl
deep_tracker/pytorch/
deep_tracker/runs/
deep_tracker/pytorch.zip

/benchmark/MOT17/MOT17.zip
/dev_output/

/benchmark/MOT15/
/benchmark/MOT16/

/dev_output_mpeg4/
/output_b_vecs/
