version: "2.3"

services:

  mv_tracker:
    container_name: mv_tracker
    build: .
    environment:
      - DISPLAY
    ipc: host # for GUI
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw  # for GUI access
      - .:/mvt
    ports:
      - "8888:8888"
